<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Forms</title>
</head>
<body>
    <header>
        <h1 style="color:rgb(242,174,115); text-align:center; padding: 20px; background-color: rgb(56,47,28);" >Django Forms </h1>
        <nav>
            <a style="padding:  5px  ; color: white; text-decoration: none; background-color: blue; " href="{% url 'snack_list' %}"> List View </a>
            
        </nav>
    </header>
    {% block content %}
    
    {% endblock %}
    <footer style="color:rgb(242,174,115); text-align:center; padding: 20px; background-color: rgb(56,47,28);" >&copy Bashar Ta'amneh</footer>
</body>
</html>